@font-face {
  font-family: Istok;
  src: url("./fonts/IstokWeb-Regular.ttf");
}
@font-face {
  font-family: Fontastique;
  src: url("./fonts/fontastique.ttf");
}

:root {
  --destaque: #00a990;
  --azul-base: #1565af;
  --whats: #25d366;
  --face: #1773ea;
  --ff-destaque: Fontastique;
  --ff-text: "Istok Web", Istok;
  --shadow: 0px 0px 15px #000d;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--azul-base);
}
