:root {
  --destaque: #00a990;
  --azul-base: #1565af;
  --whats: #25d366;
  --face: #1773ea;
  --ff-destaque: Fontastique;
  --ff-text: "Istok Web", Istok;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--azul-base);
}
