.inicio {
  text-align: center;
}

.split {
  display: flex;
}

.split .atracoes {
  font-size: 1.5rem;
  width: 45%;
  margin-left: 4%;
}

.atracoes h2 {
  font-size: 1.75rem;
  text-align: center;
}

ul {
  display: initial !important;
}

.atracoes li {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  /* list-style-type: circle; */
}

li::marker {
  color: var(--destaque);
}

.split .slideshow {
  margin: 2rem;
  width: calc(60% - 4rem);
}
